.align {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  text-align: center;
  height: calc(100vh - 1);
  width: calc(100vw - 1);
  border: solid 1px green;
  color: green;
  scroll:none;
}
h1 {
  display: inline-block;
}
