.align {
  box-sizing: border-box;
  display: inline-block;
  line-height: 200px;
  verticle-align: middle;
  text-align: center;
  height: 200px;
  width: 100vw;
  border: solid 1px green;
  color: yellow;
}
